<%= form_for(@language_class) do |f| %>
  <% if @language_class.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@language_class.errors.count, "error") %> prohibited this language_class from being saved:</h2>

      <ul>
      <% @language_class.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :twelve_month_price %><br>
    <%= f.number_field :twelve_month_price %>
  </div>
  <div class="field">
    <%= f.label :do_creds %><br>
    <%= f.text_field :do_creds %>
  </div>
  <div class="field">
    <%= f.label :pa_creds %><br>
    <%= f.text_field :pa_creds %>
  </div>
  <div class="field">
    <%= f.label :cne_creds %><br>
    <%= f.text_field :cne_creds %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
